body{
  background-color:#E6E8FA;

  }

  #header{
    background-color: #000033;
    color:white;
    width: 400px;
    padding: 25px;
    text-align: center;
    margin-left: 400px;
    margin-top: 25px;
    }


    h2{
      background-color: #15B2D3;
      width: 100%;
      padding:10px;
      }

 
  #degrees{
    font-family: serif;
    border-collapse: collapse;
    width: 80%;
        }

        #degrees td {
          color: white;
          border: 1px solid black;
          padding: 10px;
          height: 20px,auto;
          vertical-align:middle;
          background-color:#000033;
        }


        #degrees tr:nth-child(even) {background-color:#FF598F;}

        #degrees th:hover {background-color:#FF598F;}


      #degrees th{
            border: 1px solid black;
            padding: 10px;
            height: 50px,auto;
            text-align: center;
            vertical-align:middle;
            background-color: #15B2D3 ;
            color: white;
          }


    
